{% extends 'players/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Register New Player</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h4>User Information</h4>
                            {{ user_form|crispy }}
                        </div>
                        <div class="col-md-6">
                            <h4>Player Information</h4>
                            <!-- Position Selector -->
                            <div class="mb-4">
                                <h5>Select Your Positions</h5>
                                {% include 'players/position_selector.html' with positions=positions %}
                                <div class="d-none">
                                    {{ player_form.positions }}
                                </div>
                            </div>
                            <!-- Other player information fields -->
                            {% for field in player_form %}
                                {% if field.name != 'positions' %}
                                    {{ field|as_crispy_field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 